replicaCount: 1


imagefrontend: 
    repository: praveensanjeev/ui
    tag: v1
imagepostgres:
     repository: postgres
     tag: latest
imagejobs:
     repository: praveensanjeev/js
     tag: v1
imageorg:
     repository: praveensanjeev/os
     tag: v1

          
secert1: 
    Postgres_user: ram
    Postgres_passwd: postgres
    Postgres_db : postgres
secert2: 
    jobs_url: jdbc:postgresql://greenc-db:5432/postgres
    jobs_usr: ram
    jobs_passwd : postgres
    jobs_update: update
secert3: 
    jobs_url: jdbc:postgresql://greenc-db:5432/postgres
    jobs_usr: ram
    jobs_passwd : postgres
    jobs_update: update
    
 

service1:
  type: LoadBalancer
  port: 80
service2:
  type: ClusterIP
  port: 5432
service3:
  type: ClusterIP
  port: 8082
service4:
  type: ClusterIP
  port: 8081

















