replicaCount: 1


image1: 
    repository: praveensanjeev/ui
    tag: latest
image2:
     repository: postgres
     tag: latest
image3:
     repository: praveensanjeev/js
     tag: latest
image4:
     repository: praveensanjeev/os
     tag: latest   

          
secert1: 
    Postgres_user: ram
    Postgres_passwd: postgres
    Postgres_db : postgres
secert2: 
    jobs_url: jdbc:postgresql://greencommute-db:5432/postgres
    jobs_usr: ram
    jobs_passwd : postgres
    jobs_update: update
secert3: 
    jobs_url: jdbc:postgresql://greencommute-db:5432/postgres
    jobs_usr: ram
    jobs_passwd : postgres
    jobs_update: update
    
 

service1:
  type: LoadBalancer
  port: 80
service2:
  type: ClusterIP
  port: 5432
service3:
  type: ClusterIP
  port: 8082
service4:
  type: ClusterIP
  port: 8081

















