name: 'Build & Deploy Helm chart to EKS'
on:
  push:
    branches:
      - dev
env:
  DOCKER_ID: ${{ secrets.DOCKERHUB_USER }}
  DOCKER_PW: ${{ secrets.DOCKERHUB_PASSWD }}
jobs:
  backend:
    name: BUILD 
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jobsService
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Build with Gradle
      run: ./gradlew build
   
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWD }}
    - uses: actions/checkout@v2
    - name: build image 
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USER}}/bc16:v1
    - name: docker push
      run: docker push ${{ secrets.DOCKERHUB_USER }}/bc16:v1

  org-backend:
    name: BUILD-ORG
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory:  organizationService
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Build with Gradle
      run: ./gradlew build
   
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWD }}
    - uses: actions/checkout@v2
    - name: build image 
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USER}}/bc16:v2
    - name: docker push
      run: docker push ${{ secrets.DOCKERHUB_USER }}/bc16:v2

  frontend:
    name: frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: greencommute_fe
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - run: npm install 
      - run: npm run build

      - uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWD }}
      - uses: actions/checkout@v2
      - name: build image 
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USER}}/bc16:v3
      - name: docker push
        run: docker push ${{ secrets.DOCKERHUB_USER }}/bc16:v3   