name: 'BC16-DEPLOYMENT'
on:
  push:
    branches:
      - dev
jobs:
  job-backend:
    name: BUILD-JOBS 
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jobsService
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Build with Gradle
      run: ./gradlew build
   
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWD }}
    - uses: actions/checkout@v2
    - name: build image 
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USER}}/js:${{github.run_number}}
    - name: docker push
      run: docker push ${{ secrets.DOCKERHUB_USER }}/js:${{github.run_number}}

  org-backend:
    name: BUILD-ORG
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory:  organizationService
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Build with Gradle
      run: ./gradlew build
   
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWD }}
    - uses: actions/checkout@v2
    - name: build image 
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USER}}/os:${{github.run_number}}
    - name: docker push
      run: docker push ${{ secrets.DOCKERHUB_USER }}/os:${{github.run_number}}

  frontend:
    name: frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: greencommute_fe
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - run: npm install 
      - uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWD }}
      - uses: actions/checkout@v2
      - name: build image 
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USER}}/ui:${{github.run_number}}
      - name: docker push
        run: docker push ${{ secrets.DOCKERHUB_USER }}/ui:${{github.run_number}}

  deploy:     
    runs-on: ubuntu-latest
    needs:
    - frontend
    - job-backend 
    - org-backend    
    
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Connect to EKS cluster 
        run: aws eks --region ${{ secrets.EKS_REGION }} update-kubeconfig --name ${{ secrets.EKS_CLUSTER }}

      - name: helm deployment
        run: helm upgrade --install greenc green-commute-chart --set=imagefrontend.tag=${{github.run_number}} --set=imagejobs.tag=${{github.run_number}} --set=imageorg.tag=${{github.run_number}} 



  
   
